.search-bar-container {
     position: fixed;
     width: 100%;
     height: 30px;
     top: 0;
     z-index: 1;
     background-color: #ffffff;
     padding: 10px;
     box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
          rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
     display: flex;
     align-items: center;
     justify-content: space-between;
}

.search-bar-container > div:nth-of-type(1) {
     margin-left: 10px;
     display: flex;
     flex-direction: column;
}
.dropdown-search-container {
     display: flex;
     flex-direction: column;
     top: 50px;
     position: absolute;
     overflow: auto;
     border-radius: 1px solid #afafab;
     width: 380px;
     height: 350px;
     background-color: #ffffff;
     z-index: 1;
     gap: 10px;
}

.search-title-container {
     display: flex;
     flex-direction: column;
     gap: 10px;
}
.search-title-container > p:nth-of-type(1) {
     font-family: Roboto;
     font-size: 15px;
}
.search-title-container > p:nth-of-type(2) {
     font-family: Roboto;
     font-size: 10px;
     color: rgb(208, 207, 204);
}
.search-title-container p {
     word-break: break-word;
}

.search-container {
     display: flex;
     padding: 10px;
     justify-content: center;
     align-items: center;
     gap: 10px;
     border-bottom: 1px solid #ababab;
     cursor: pointer;
}
.search-image-container > img {
     object-fit: contain;
     width: 2em;
     height: 2em;
}

.search-bar-container > div:nth-of-type(2) {
     margin-right: 16px;
}
.search-bar-container > div > input {
     width: 350px;
     padding: 8px 15px;
     border-radius: 5px;
     border: 1px solid #afafab;
     outline: none;
}
.search-bar-container > div > input::placeholder {
     font-size: 15px;
     font-family: Roboto;
}

.search-bar-action {
     display: flex;
     gap: 5px;
     align-items: center;
}
